/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { 
    font: 14px/1.4 Arial, serif; 
    background-color: #000000;
    color: #FFFFFF;
}

h1 { 
    font-size: 16px;
    font-family: Tungsten,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
    text-shadow: 0 0 0.2em #8877FF, 0 0 0.2em #8877FF, 0 0 0.2em #8877FF;
    letter-spacing: -1px; 
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    margin-bottom: 20px; 
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

#page-wrap { width: 1000px; margin: 0px auto; }

.image-gallery { margin: 20px 0 25px 0; }

figure { 
  width: 120px; 
  float: top; 
  margin: 20px 0 0 0; 
  background: #181818;
  border: 10px solid #181818; 
  -webkit-box-shadow: 0 3px 10px #071871; 
  -moz-box-shadow: 0 3px 10px #071871;
  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
  /*position: relative; */
}

figcaption { 
  text-align: center; 
  display: block; 
  font-size: 12px; 
  font-style: italic; 
}

figure img { 
  width: 100%; /* Scale down */
}

figure:hover {
    -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
    -webkit-box-shadow: 0 3px 10px #162EAE; -moz-box-shadow: 0 3px 10px #162EAE;
}

figure:focus {
    outline: none;
    -webkit-transform: translate(-300px) rotate(deg) scale(4); -moz-transform: translate(-300px) rotate(0deg) scale(4);
    -webkit-box-shadow: 0 3px 10px #162EAE; -moz-box-shadow: 0 3px 10px #162EAE;
    z-index: 9999;
}

#body-wrap{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block; 
}

#top {
    margin: 0;
    padding: 0;
    display: block; 
    width: 100%;
}

#content {
    margin-top: 15px;
    padding: 0;
    width: 60%;
    display: block; 
    float: left;
}

#right-col{
    margin: 0;
    padding-left: 1%;
    width: 39%;
    display: block; 
    float: right;
}

.sidebar {
    margin-bottom: 20px;
}
.sidebar:hover {
    outline: none;
    -webkit-transform: scale(1.1); -moz-transform: scale(1.1);
}
